.listMain{
  max-width: 1400px;
  height: 140px;
  color: var(--font);
  padding: 20px;
  margin: 0 auto;
  margin-top: 30px;
  border: none;
  border-radius: 5px;
  background: var(--element);
  display: flex;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "first second third fourth";
}

.first{
  width: 300px;
  grid-area: "first";
}

.second{
  width: 450px;
  grid-area: "second";
}

.third{
  width: 300px;
  grid-area: "third";
}

.fourth{
  width: 150px;
  grid-area: "fourth";
}