.container{
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 'priorityOne priorityTwo priorityThree'
}

.container input{
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #8b8b8b
}

.container label{
  font-size: 1.3em;
}

.priorityOne{
  grid-area: priorityOne;

}

.priorityTwo{
  grid-area: priorityTwo;
  margin-left: 10px;
}

.firstLine{
  display: flex;
}

.firstLineColumnOne{
  width: 63%
}

.firstLineColumnTwo{
  width: 33%;
  margin-left: 10px;
}

.secondLine{
  display: flex;
}

.secondLineColumnOne{
  width: 33%
}

.secondLineColumnTwo{
  width: 63%;
  margin-left: 10px;
}

.thirdLine{
  display: flex;
}

.thirdLineColumnOne{
  width: 33%
}

.thirdLineColumnTwo{
  width: 63%;
  margin-left: 10px;
}

.forthLine textarea{
  width: 100%;
  height: 114px;
  border: none;
  border-radius: 5px;
  background-color: #8b8b8b
}



.priorityThree{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 200px;
  grid-area: priorityThree;
  background-color: green;
}



