.container{
  max-width: 1650px;
  height: 100vh;
  margin: 0 auto;
  padding: 1rem;
  background: Transparent;
}

.content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px auto;
  max-width: 1400px;
}