.buttonLink{
  
  padding: 5px 25px;
  margin-left: 40px;
  color: #fff;
  text-decoration: none;
  border: 2px #f00 solid;
  border-radius: 5px;
  background: var(--header);
  transition: filter 0.2s;
}

.buttonLink:hover{
  filter: brightness(0.9);
  box-shadow: 1px 1px var(--background);
}