.container{
  width: 100%;
  height: 140px;
  background-color: var(--header);
}

.content{
  max-width: 90%;
  margin: 0 auto;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.logo{
  width: 200px;
  margin: 20px;
}

.welcome{
  max-width: 450px;
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

p{
  color: var(--font);
  font-size: 1rem;
}

.picUser{
  width: 90px;
  margin-left: 25px;
  border-radius: 50%;
}