.submenu{
  color: var(--textDefault);
  margin-top: 20px;
}

.submenu ul{
  display: flex;
  justify-content: center;
  align-items: center;

}

.submenu ul li{
  list-style-type: none;
  margin-right: 18px;
}

.submenu ul li a{
  text-decoration: none;
  color: var(--textDefault)
}

.submenu ul li a:visited{
  text-decoration: none;
}

