.submenu{
  color: var(--fontTile);
}

.submenu ul{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -100px;
}

.submenu ul li{
  list-style-type: none;
  margin-right: 18px;
}

.submenu ul li a{
  text-decoration: none;
}

