.container{
  margin-bottom: 20px;
}

.container textarea{
  width: 100%;
  height: 120px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  background-color: #8b8b8b
}

.container label{
  font-size: 1.3em;
}

.nameSession{
  color: var(--title);
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}